.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .card-title{
    font-size: 50px;
    font-weight: lighter;
  }

  .card-text{
    font-size: 30px;
    font-weight: bold;
  }

  .card-review {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Mengatur elemen secara horizontal di tengah */
    justify-content: center; /* Mengatur elemen secara vertikal di tengah */
}

.review-title {
    font-weight: bold;
    font-size: 50px;
}

.star-rating {
  font-size: 50px;
}

.star {
  cursor: pointer;
  pointer-events: none; /* Nonaktifkan klik pada bintang yang memiliki kelas "disabled" */
  opacity: 0.5;
}

.star.active {
  color: gold;
}
#box {
  position: fixed;
  bottom: 0;
  right: 0;
  background:  white;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan di kiri dan atas */
  height: 45px;
  width: 250px;
  transition: height 300ms;
  overflow: hidden;
}

.chat-icon{
  width: 50px;
}

.clock{
  font-size: 20px;
}

